/*BACKGROUND COLOR: #1d272b*/
/*BACKGROUND COLOR: #1d272b*/
/*BACKGROUND COLOR: #1d272b*/

body {
  margin: 0;
  /* font-family: "Lato", sans-serif; */
  font-family: "Helvetica", sans-serif;
  /* font-family: "Verdana", sans-serif; */
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.side_panel {
  top: 0;
  left: 0;
  width: 0px;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;

  padding-top: 60px;
  position: fixed;

  background-color: #1d272b;
  transition: .3s;
  z-index: 1;
}
