/*DARK BACKGROUND COLOR: #1d272b*/
/*LIGHT BACKGROUND COLOR: #303c42*/
/*ORANGE ACCENT COLOR: #AA510E*/
/*GRAY TEXT COLOR: #999*/

/* GENERAL */
body {
  margin: 0;
  /* font-family: "Lato", sans-serif; */
  font-family: "Helvetica", sans-serif;
  /* font-family: "Verdana", sans-serif; */
}

canvas {
  width: 100%;
  height: 200%;
  z-index: 2;
}

#view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

h3 {
  margin: 0px;
  color: white;
}

p {
  margin: 0px;
  color: white;
}

p.bold {
  font-weight: bold;
}

button {
  /* background-color: #1d272b; */
}

select {
  width: 100%;
  max-width: 100%;
}

.no_overflow {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
}

.no_overflow p{
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none;
}
/* GENERAL */


/* PANEL */
.side_panel {
  top: 0;
  left: 0;
  width: 0px;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;

  border-radius: 5px;

  padding-top: 40px;

  position: fixed;

  background-color: #1d272b;
  transition: .3s;
  z-index: 1;
}

.side_panel .close_btn {
  display: block;
  position: absolute;

  top: 0px;
  right: 10px;  /*TODO: hard coded value for close button*/

  padding: 0px 8px 0px 8px;

  text-decoration: none;
  font-size: 36px;
  color: #AA510E;
}

.side_panel .close_btn:hover {
  color: #f1f1f1;
}

.open_btn {
  position: absolute;
  border: none;
  padding: 10px 15px;

  font-size: 20px;
  color: white;
  background-color: #1d272b;

  cursor: pointer;
  z-index: 10;
}
/* PANEL */

/* TABS */
.side_panel_tab_list {
  display: flex;
  width: auto;
  height: 40px;
}

.side_panel_tab_list .tab {
  flex: 1;

  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;

  background-color: #1d272b;
}

.side_panel_tab_list .tab:hover{
  background-color: #303c42;
}

.side_panel_tab_list .selected{
  background-color: #303c42;
}

.side_panel_tab_list .tab img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: auto;
}
/* TABS */


/* CONTENT */
.light_container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #303c42;
}

.dark_container {
  padding: 10px;
  border-radius: 5px;
  background-color: #1d272b;
}

.listable_container {
  margin-bottom: 5px;
}

.dark_border {
  border-style: solid;
  border-width: 10px;
}

.scroll_box {
  /* padding-top: 10px; */
  /* padding-left: 10px; */
  padding-right: 10px;

  max-height: 250px;
  overflow-y: scroll;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px;

  height: 0px;
  border-style: solid;
  border-color: #B7BDBB;
}
/* CONTENT */



/* FILE DROP */
.file_drop {
  margin-top: 15px;
  padding: 10px;

  border-style: dashed;
  border-radius: 5px;
  border-color: #AA510E;
  background-color: #1d272b;
}

.file_drop p {
  margin: 0px;
  text-align: center;
  white-space: pre;

  font-size: 15px;
  color: #818181;
}


.file_drop_small {
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
  border-color: #AA510E;

  width: 80%;

  background-color: #1d272b;
}

.file_drop_small.selected{
  border-style: solid;
}

.file_drop_small p {
  margin: 0px;
  text-align: center;
  white-space: pre;

  font-size: 10px;
  color: #818181;
}
/* FILE DROP */

/* COLOR PICKER */
input[type=color] {
  -webkit-appearance: none;
  float: right;
  width: 35px;
  height: 15px;
  padding: 0px;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}
::-webkit-color-swatch {
	border: none;
}
/* COLOR PICKER */

/* SLIDER */
.slider_container{
  position: relative;
  margin: 0px;
  padding: 0px;
  float: right;
  width: 100%;
}

.slider_container p {

  margin: inherit;
  margin-left: 0px;
  color: #ffffff;
  white-space: pre;
}

.slider {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d96712;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d96712;
  cursor: pointer;
}
/* SLIDER */


/* GRID LAYOUT */
.control_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px 20px;
}

.hide.control_grid{
  display: none;
}

.control_grid > * {
  min-width: 0;
}

.control_grid > * > * { /*Vertically center all elements in grid cells*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-weight: bold;
}

.title_small {
  font-weight: normal;
}

.control{

}

.control > * {

  float: right;
}

.control > p {
  color: #999;
}

.control > p.name {
  float: none;
}
/* GRID LAYOUT */

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  display: block;
  position: absolute;
  margin-left: -10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d272b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AA510E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AA510E;
}
/* SCROLL BAR */






/*  */
